/* Styles globaux */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
  }
  
  /* Style pour le titre principal */
  h1 {
    color: #333;
  }
  
  /* Suppression des soulignements pour les liens */
  a {
    text-decoration: none;
  }
  
  /* Mise en page en grille pour les cartes Pokémon */
  .pokemon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
  }
  
  /* Style des cartes Pokémon */
  .pokemon-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    padding: 16px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  /* Effet de zoom au survol des cartes */
  .pokemon-card:hover {
    transform: scale(1.05);
  }
  
  /* Style des images des cartes Pokémon */
  .pokemon-card img {
    width: 100px;
    height: 100px;
  }
  
  /* Style des noms des Pokémon sur les cartes */
  .pokemon-card h2 {
    font-size: 18px;
    margin: 8px 0 0 0;
    color: #333;
  }
  
  /* Style de la section des détails Pokémon */
  .pokemon-detail {
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  /* Style de l'image sur la page des détails */
  .pokemon-detail img {
    width: 150px;
    height: 150px;
  }
  
  /* Style du nom Pokémon sur la page des détails */
  .pokemon-detail h2 {
    font-size: 24px;
    color: #333;
  }
  
  /* Style des paragraphes sur la page des détails */
  .pokemon-detail p {
    font-size: 16px;
    color: #666;
  }
  
  /* Style du lien de
  